#name {
    margin-bottom: 0;
    font-weight: 900;
    text-align: center;
    font-size: 2.5em;
    font-family: ubuntu;
}


@media only screen and (max-width: 600px) {
    #name {
        font-size: 2em;
    }
}