
.fcontainer {
    /* border: 1px solid  blue; */
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin: 2em auto auto auto;
    /* height: 5em; */
    width: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.0), 0 0px 6px 1px rgba(63, 33, 33, 0.10);

}

.fcontainer div{
    
    margin: 8px;
}



.finfo-container {
    /* border: 1px solid  red; */

    /* width: 50%; */
    /* margin: auto; */
}

.finfo-container p{
    padding: 0;
    margin: 0;
}

.img {
    height: 50px;
    width: 50px;
    background-color: black;
    border-radius: 50%;
}

.pic {
    /* border: 1px solid green; */
    width: 3em;
    height: 3em;
    display: block;
    /* height: 150px; */
    /* width: 1em; */
}