* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.container {
    height:100vh;
    width: 20vw;
    border: 1px solid green;
    padding-top: 2em;
}

.info-container {
    /* border: 1px solid green; */
    width: 50%;
    margin: auto;
}

img {
    border: 1px solid green;
    margin: auto;
    display: block;
    height: 150px;
    width: 50%
}