#item {
    display: flex;
    justify-content: space-between;
    width: 80%;
    border-radius: 15px;
    padding: 0em 1em;
    margin: 1em auto;
    background-color: white;
}


@media only screen and (max-width: 600px) {

}