.form {
    display: block;
    margin: auto;
    width: 300px;
    padding: 30px;
    font-size: 3em;
    border-top:0;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(0, 0, 0);

    /* border:0 0 1px 0; */

}

.input-display {
    margin: auto;
    width: 300px; 
    font-size: 3em;
}

button {
    display: block;
    margin: auto;
    padding: 2em;
    margin-top: 2em;
}

.product-list {
    position: absolute;
    left: 45%;
    /* display: block; */
    margin-top: 2em;
    
}