#avatar-container {
    width: 150px;
    border-radius: 35px;
    /* border: 1px solid red; */
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.30), 0 0px 6px 1px rgba(63, 33, 33, 0.30);

}

img {
    border-radius: 35px;

    display: block;
    margin: auto;
    width: 150px;
}