.input {
    display: block;
    margin: auto;
    width: 300px;
    padding: 30px;
    font-size: 3em;
    border-top:0;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(0, 0, 0);

    /* border:0 0 1px 0; */

}


.more {
    /* border: 1px solid  blue; */
    border-radius: 20px;
    display: flex;
    margin: 2em auto auto auto;
    /* height: 5em; */
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
