#items-container {
    margin: auto;
    width: 40%;
    border-radius: 20px;
    padding: 2em 0;
    background-color:rgb(218, 218, 218);
    margin-top: 3em;
}

@media only screen and (max-width: 600px) {
    #items-container {
        margin: auto;
        width: 95%;
        padding: 1em 0;
        margin-top: 3em;
    }
    
}